html {
	height: 100%;
	margin: 0 0 0 0;
	width: 100%;
}

body {
	height: 100%;
	margin: 0 0 0 0;
	width: 100%;
}

.hidden {
	display: none;
}

.install {
	display: none;
}

.chat {
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	bottom: 0%;
	display: block;
	height: 75%;
	width: 20%;
	right: 0;
	overflow: scroll;
	position: absolute;
	resize: both;
	text-align: center;
	word-wrap: break-word;
	z-index: 1;
}

.chatMain {
	resize: vertical;
}

.chatHeader {
	background-color: #252525;
	border: none;
	cursor: move;
	color: white;
	display: block;
	height: 4vh;
	width: 100%;
	vertical-align: middle;
}

.hideChat {
	background-color: #252525;
	border: none;
	color: white;
	font-size: 18px;
	right: 0;
	position: relative;
}

.closeChat {
	border: none;
	background-color: #252525;
	color: white;
	font-size: 18px;
	right: 1%;
	position: relative;
}

.showChat {
	background-color: #252525;
	border: none;
	color: white;
	font-size: 18px;
	right: 1%;
	position: relative;
}

.messages {
	height: 75%;
	overflow-x: hidden;
	overflow-y: auto;
}

.username, .usernameLabel {
	width: 50%;
}

.usernameSelector {
	margin: auto;
}

.messageInput {
	width: 100%;
}

.chatInput, .chatInputLabel {
	bottom: 1%;
	position: absolute;
	vertical-align: bottom;
	width: 20%;
}
